---
layout: default
---

<h1>Hi and welcome to my website! </h1> 

<p>My name is Sivani and I am an environmental chemist, <a href="https://www.nserc-crsng.gc.ca/nserc-crsng/fundingdecisions-decisionsfinancement/scholarshipsandfellowships-concoursdebourses/index_eng.asp">2023-2024 NSERC Postdoctoral Fellow</a>, <a href="https://www.cas.org/about/futureleaders/2023-gallery">2023 CAS Future Leader</a> and science policy enthusiast.

I completed my PhD at the University of Toronto in the summer of 2022. Now, I a post-doctoral researcher with <a href="https://zeropm.eu/">ZeroPM</a> at the <a href="https://ngi.no/eng">Norwegian Geotechnical Institute</a> in Oslo. My research uses environmental chemistry and cheminformatics to identify persistent and mobile substances on the global market. Right now, I am exploring how <a href="10.5281/zenodo.8081391">Bayesian Analysis approaches can be used to determine a consensus value for organic-carbon - water partition ratios (<i>K</i><sub>OC</sub>) in mobility hazard assessments</a>.

<p>Here you will find information about my <a href="https://sivanibaskaran.github.io/research/">research interests</a>, <a href="https://sivanibaskaran.github.io/publications/">writing and publications</a>, and some of my passion projects, including my work in <a href="https://sivanibaskaran.github.io/policy/">science policy</a>.</p>

<p><b>Feel free to email me if you have any questions, are looking for PDF copies of my publications, or wish to collaborate.</b></p>

<p>You can access the <i>K</i><sub>OA</sub> database <a href="https://sivanibaskaran.github.io/koadata/">here</a>. If you have any comments or publications you wish to see added to the database let me know using this <a href="https://forms.gle/u38fENZoAtixvM8G9">form</a>.
</p>

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h1>{{ post.title }}</h1>

        <div>
          <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
        </div>
      </a>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}

  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
